.__ic_container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.__ic_code {
  width: 400px;
  min-width: 400px;
}

.__ic_added {
  color: #70e680;
}

.__ic_removed {
  color: #e67070;
}

.__ic_same {
}

.__ic_code pre .__ic_line {
  transition: all 0.5s;
  height: 16px;
  opacity: 0;
}

.__ic_code pre {
  overflow-x: scroll;
  max-width: 400px;
  padding-bottom: 16px;
}

.__ic_code pre:before {
  content: attr(data-before);
}

.__ic_markdown .marker {
  // height: 20px;
  // background-color: #f0f;
}
